.navbar-size {
    width: 85%;
    margin: 0 auto;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
.main-body {
    background-color: #bfcba9;
    color: rgb(34, 14, 168);
    
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.add-receipe-button {
    background-color: #eb1e99;
    margin-top: 50px;
}
.card-text {
    color:black;
}